{
  "plugins": ["jasmine"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jasmine/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "jasmine": true
  }
}